<div>
  <div class="pageLabel">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-primary" aria-current="page">Customers</li>
      </ol>
    </nav>
  </div>
  <div class="commands">
    <div class="margin-bottom-5">
      <button type="button" class="btn btn-default btn-sm" (click)="showFilter = !showFilter">Change Filters&nbsp;<i class="glyphicon glyphicon-menu-down"></i></button>
      <!-- &nbsp;|&nbsp;
      <button type="button" class="btn btn-default btn-sm" (click)="refreshList()">Refresh List</button> -->
    </div>
    <div class="small filter-text">Filters: <span [innerHTML]="filterText"></span></div>
    <div *ngIf="showFilter" class="filter well">
      <form class="form-inline small">
        <div class="closeFilter">
          <a (click)="showFilter = false">CLOSE <i class="glyphicon glyphicon-remove"></i></a>
        </div>
        <div class="form-group">
          <label>Username:</label>
          <input type="text" placeholder="Username" class="form-control btn-sm" [(ngModel)]="filters.username" name="username">
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" placeholder="First Name" class="form-control btn-sm" [(ngModel)]="filters.firstName" name="firstname">
          <input type="text" placeholder="Last Name" class="form-control btn-sm" [(ngModel)]="filters.lastName" name="lastname">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" placeholder="Email" class="form-control btn-sm" [(ngModel)]="filters.email" name="email">
        </div>
      </form>
      <div class="text-right">
        <button type="button" class="btn btn-default btn-sm" (click)="clearFilter()">Clear</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="applyFilter()">Apply</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="table-border">
    <table class="table table-hover table-striped small">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile No.</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; let i = index">
          <td>{{ customer.id }}</td>
          <td><a [routerLink]="['/admin/customers/view', customer.id]">{{ customer.username }}</a></td>
          <td>{{ customer.firstName }} {{ customer.lastName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.mobileNumber }}</td>
            <td>
            <div dropdown class="actions">
              <button dropdownToggle type="button" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-cog"></i>&nbsp;<span class="caret"></span>
              </button>
              <ul *dropdownMenu role="menu" class="dropdown-menu">
                <li [routerLink]="['/admin/customers/view/', customer.id]">View</li>
                <li (click)="resetPassword(customer.email)">Reset Password</li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-6 col-6">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
        [itemsPerPage]="itemsPerPage" [rotate]="true"
        [maxSize]="5" [boundaryLinks]="true"
        (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
    </div>
    <div class="col-xs-6 col-6 text-right">
      <small>Page {{ currentPage }} of {{ numPages }}, {{ totalItems }} total customers</small>
    </div>
  </div>
</div>
