<div class="row reset-container" data-hook="">
  <div class="col-sm-12">
    <div class="col-md-5 col-sm-8 col-xs-11 col-centered">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="auth-logo">
            <img src="../assets/OMG.png" />
          </div>
          <div>
            <h3>Password Reset</h3>
          </div>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <fieldset class="input-container">
              <div class="input-item">
                <input type="password" class="user-input top" name="old_password" formControlName="old_password"
                  placeholder="Enter Current Password" autocomplete="off">
                <div *ngIf="resetForm.get('old_password').errors && resetForm.get('old_password').touched">
                  <span class="error-icon">!</span>
                  <p class="error-message">{{resetForm.get('old_password').errors.msg || 'Please enter current password'}}</p>
                </div>
              </div>
              <div class="input-item">
                <input type="password" class="user-input mid" name="new_password" formControlName="new_password"
                  placeholder="Choose New Password" autocomplete="off">
                <div *ngIf="resetForm.get('new_password').errors && resetForm.get('new_password').touched">
                  <span class="error-icon">!</span>
                  <p class="error-message">{{resetForm.get('new_password').errors.msg || 'Password must be at least 6 characters'}}</p>
                </div>
              </div>
              <div class="input-item">
                <input type="password" class="user-input bottom" name="confirm_password" formControlName="confirm_password"
                  placeholder="Confirm New Password" autocomplete="off">
                <div *ngIf="(resetForm.get('confirm_password').errors || resetForm.hasError('mismatchedPasswords')) && resetForm.get('confirm_password').touched">
                  <span class="error-icon">!</span>
                  <p class="error-message">{{ 'Password must match'}}</p>
                </div>
              </div>
            </fieldset>
            <fieldset class="button-container">
              <button type="submit" class="btn btn-primary button">Proceed</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
