input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.breadcrumb {
  a {
    color: #666;
  }
}

.error-message {
  position: absolute;
  top: 100%;

  p {
    font-size: 11px;
    margin-left: 15px;
    color: #ee5f73;
    text-align: left;
    max-height: 500px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0,1,.5,1);
    transition-timing-function: cubic-bezier(0,1,.5,1);
  }
}

.birthdate {
  input {
    display: inline-block;

    &:nth-child(2) {
      width: 60px;
    }
    &:nth-child(3) {
      width: 80px;
    }
  }
  select {
    display: inline-block;
    width: 120px;
  }
}

.mobileNumber {
  select {
    width: 77px;
    display: inline-block;
  }
  input {
    width: 200px;
    display: inline-block;
  }
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
