
<!-- <div>
  <div class="pageLabel">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
      <h1 class="dashboard">Dashboard</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-primary" aria-current="page">Set Banner</li>
      </ol>
    </nav>
  </div>
  <div class="bannerSelection">
    <div class="banner-items">
      <h4>Select a banner</h4>
      <div *ngFor='let img of banners' class="col-lg-3 col-md-3 col-sm-6">
        <div class="tile">
          <img src='/assets/SUB_01.png'/>
        </div>
      </div>
    <!-- <section class="col-md-12 col-sm-12 col-xs-12">
      <div class="slider-container">
        <div class="back" (click)="sliderBack('suggested')"
          [ngClass]="{'disabled': suggestedSlider.state == 'set1'}">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="slider">
          <ul [ngClass]="suggestedSlider.class">
            <li *ngFor="let sugItem of suggestedItems" class="product-base" itemscope
              itemtype="https://schema.org/Product">
              <app-item-list-entry [item]="sugItem" [cartItem]="getCartItem(sugItem.id)"
                (onOpenModalEmit)="openSuggestedItem($event)">
              </app-item-list-entry>
              <!--span class="product-zoom glyphicon glyphicon-search"></span-->
            <!-- </li>
          </ul>
        </div>
        <div class="next" (click)="sliderNext('suggested', suggestedItems)"
          [ngClass]="{'disabled': suggestedSlider.state == 'set4'
            || this.suggestedItems.length < 4
            || (suggestedSlider.state == 'set2' && suggestedItems.length <= 8)
            || (suggestedSlider.state == 'set3' && suggestedItems.length <= 12)}">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
      </div>
    </section> -->
    <!-- </div>
  </div>
</div> -->
