@import "../../../shared/scss/_themes.scss";

.omg-logo {
  img {
    width: 120px;
    // width: 185px;
  }
}

.register-register-button {
  background-color: $pink;
  border-color: $pink-dark;
}

.col-centered {
  max-width: 440px;
}

.panel {
  margin-bottom: 20px;
  margin: 20px 0;
  background-color: $white;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 15px rgba(0,0,0,.1);
  .panel-heading {
    padding: 20px 0 0;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
    background-color: transparent;
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      color: #666;
      font-weight: 400;
    }
  }
  .panel-body {
    padding: 15px 0;
  }
}

.register-link-container {
  text-align: left;
  padding: 10px 20px;
}

.register-login-link {
  text-align: center;
}

.register-info-text {
  color: #94969f;
  font-size: 12px;
}

.register-link {
  text-decoration: none;
  margin-left: 5px;
}

.register-third-party-register {
  margin-top: 10px;
}

.register-container {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  // padding-bottom: 40px;
}

.policy-text {
  margin-bottom: 0;
}
