<div class="row forgot-container" data-hook="">
  <div class="col-sm-12">
    <div class="col-md-5 col-sm-8 col-xs-11 col-centered">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="auth-logo">
            <img src="../assets/OMG.png" />
          </div>
          <div class="header">
            <h3>Forgot your password?</h3>
            <p class="text-justify">
              Please enter the email address associated with your <strong>OMG!</strong>
              account and we'll send you an email containing your temporary password.
            </p>
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <fieldset class="input-container">
              <div class="input-item">
                <input type="email" class="user-input-email user-input" name="email" placeholder="Your Email Address" formControlName="email"
                  autocomplete="off">
                <div *ngIf="forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').touched">
                  <span class="error-icon text-danger">!</span>
                  <p class="error-message text-danger">{{forgotPasswordForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>
                </div>
              </div>
            </fieldset>
            <fieldset class="button-container">
              <button type="submit" class="btn btn-primary button">Proceed<span *ngIf="isLoading">&nbsp;<i class="loader"></i></span></button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
