@import "../../../../shared/scss/custom_themes/default/default";

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.breadcrumb {
  a {
    color: #333;
  }
}
.csv-upload {
  height: 100px;
}
.hidden {
    display:none;
}
.loader {
    position:fixed;
    height:100%;
    width:100%;
    background-color: grey;
    opacity:0.5;
    z-index: 10000;
}
.loader-text {
    position:fixed;
    top:45%;
    left:45%;

}
