<div>
  <div class="pageLabel">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
      <h1 class="dashboard">Dashboard</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-primary" aria-current="page">Master Lists</li>
      </ol>
    </nav>
  </div>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <!-- <th class="theaders" scope="col">ID<span class="caret"></span></th>
        <th class="theaders" scope="col">Employee Name<span class="caret"></span></th>
        <th class="theaders" scope="col">User name<span class="caret"></span></th>
        <th class="theaders" scope="col">Email Address<span class="caret"></span></th>
        <th class="theadersM" scope="col"><span>&#8369;</span> Available Balance<span class="caret"></span></th>
        <th class="theadersM" scope="col"><span>&#8369;</span> Outstanding Balance<span class="caret"></span></th>
        <th class="theadersM" scope="col"><span>&#8369;</span> Credit Line<span class="caret"></span></th>
        <th class="theaders" scope="col">Status<span class="caret"></span></th> -->
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

</div>
