@import "../../../../../shared/scss/custom_themes/default/default";

.dashboard {
  margin-top: 0;
}
.pageLabel {
  flex-wrap: wrap;
}
.control-label {
  font-size: 12px;
  font-weight: 500;
  margin: auto;
}
.nav-breadcrumb {
  display: inline-flex;
}
.breadcrumb {
  margin-left: 10px;
  width: calc(100vw - 285px);
}
.breadcrumb-item {
  font-weight: bolder;
  text-transform: uppercase;
}
.formContainer {
  align-content: center;
  text-align: center;
}
.form-control {
  width: 377px;
}
.fieldContainer {
  text-align: center;
  align-content: center;
  padding-top: 20px;
  width: calc(100vw - 1010px);
  min-width: 420px;
  margin: auto;
}
.fieldset {
  background-color: #f5f5f5;
}
.form-group {
  min-width: 350px;
}
.cat {
  min-width: 200px;
}
.proceed-btn {
  display: inline-block;
}
.proceedBtn {
  width: 350px;
}
.input-element {
  margin: auto;
}
.sbrand {
  padding-left: 32px;
}
.cbrand {
  padding-top: 40px;
}
.store {
  padding-top: 15px;
}
.input-group {
  margin: auto;
}
.input-md {
  -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
  -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
  box-shadow: inset 1px 1px 1px 0px #CCC;
  border-radius:2px;
  margin: auto;
}
.checkboxlabel {
  font-size: 12px;
  padding-top: 0px;
  padding-left: 0px;
}
.brandCheckBox {
  padding-top: 0px;
}
.input-custom-brand {
  width: 377px;
  -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
  -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
  box-shadow: inset 1px 1px 1px 0px #CCC;
  border-radius:2px;
  margin: auto;
}

@media screen and (max-width: 1800px) and (orientation: landscape) {
  .form-control {
    width: 377px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: calc(100vw - 1010px);
    min-width: 390px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
    min-width: 450px;
  }
  .form-group {
    min-width: 350px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
  }
  .proceedBtn {
    width: 350px;
  }
  .input-element {
    margin: auto;
  }
  .sbrand {
    padding-left: 32px;
  }
  .cbrand {
    padding-top: 40px;
  }
  .store {
    padding-top: 15px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }

}

@media screen and (max-width: 1740px) and (orientation: landscape) {
  .form-control {
    width: 377px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 5px;
    width: calc(100vw - 1040px);
    min-width: 390px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
  }
  .form-group {
    min-width: 300px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
  }
  .proceedBtn {
    width: 300px;
  }
  .input-element {
    margin: auto;
  }
  .sbrand {
    padding-left: 32px;
  }
  .cbrand {
    padding-top: 40px;
  }
  .store {
    padding-top: 10px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }

}

@media screen and (max-width: 1600px) and (orientation: landscape) {
  .formContainer {
    align-content: center;
    text-align: center;
  }
  .form-control {
    width: 320px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: calc(100vw - 1010px);
    min-width: 371px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
  }
  .form-group {
    width: 290px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
  }
  .proceedBtn {
    width: 310px;
  }
  .input-element {
    margin: auto;
  }
  .control-label{
    padding-left: 10px;
  }
  .cbrand {
    padding-top: 40px;
  }
  .store {
    padding-top: 15px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
  .formContainer {
    align-content: center;
    text-align: center;
  }
  .form-control {
    width: 280px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: calc(100vw - 1010px);
    min-width: 321px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
  }
  .form-group {
    width: 280px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
  }
  .proceedBtn {
    width: 280px;
  }
  .input-element {
    margin: auto;
  }
  .sbrand {
    padding-left: 32px;
  }
  .cbrand {
    padding-top: 40px;
  }
  .store {
    padding-top: 15px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
}

@media screen and (max-width: 1380px) and (orientation: landscape) {
  .formContainer {
    align-content: center;
    text-align: center;
  }
  .form-control {
    width: 280px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: calc(100vw - 1010px);
    min-width: 321px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
  }
  .form-group {
    width: 280px;
  }
  .inputs {
    padding-right: 0px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
  }
  .proceedBtn {
    width: 280px;
  }
  .input-element {
    margin: auto;
  }
  .sbrand {
    // padding-left: 32px;
  }
  .cbrand {
    padding-top: 40px;
  }
  .store {
    padding-top: 15px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
}

@media screen and (max-width: 1355px) and (orientation: landscape) {
  .formContainer {
    align-content: center;
    text-align: center;
  }
  .form-control {
    width: 280px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: calc(100vw - 1010px);
    min-width: 321px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
  }
  .form-group {
    width: 280px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
    padding-left:74px;
  }
  .proceedBtn {
    width: 280px;
  }
  .inputs {
    padding-right: 168px;
  }
  input {
    width: 200px;
  }
  .input-element {
    margin: auto;
    width: 240px;
  }
  .cbrand {
    padding-top: 40px;
    margin-left: 0px;
  }
  .store {
    padding-top: 15px;
  }
  .inputs {
    margin: auto;
    padding-right: 0px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
}

@media screen and (max-width: 1215px) and (orientation: landscape) {
  .formContainer {
    align-content: center;
    text-align: center;
  }
  .form-control {
    width: 280px;
  }
  .fieldContainer {
    text-align: center;
    align-content: center;
    padding-top: 10px;
    width: calc(100vw - 1010px);
    min-width: 321px;
    margin: auto;
  }
  .fieldset {
    background-color: #f5f5f5;
  }
  .form-group {
    width: 280px;
  }
  .cat {
    min-width: 200px;
  }
  .proceed-btn {
    display: inline-block;
    padding-right: 22px;
    padding-left: 0px;
  }
  .proceed-btn {
    padding-left: 75px;
  }
  .inputs {
    padding-right: 57px;
  }
  input {
    width: 200px;
  }
  .input-element {
    margin: auto;
    width: 240px;
  }
  .cbrand {
    padding-top: 40px;
    margin-left: 0px;
  }
  .store {
    padding-top: 15px;
  }
  .input-group {
    margin: auto;
  }
  .input-md {
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .checkboxlabel {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .brandCheckBox {
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 377px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .formContainer {
    padding-left: 0px;
    text-align: center;
  }
  .fieldContainer {
    margin: auto;
    min-width: 450px;
  }
  .fieldset {
    background-color: #f5f5f5;
    min-width: 450px;
  }
  .control-label {
    font-size: 12px;
    font-weight: 500;
    padding-top: 0px;
  }
  .form-control{
    width: 250px;
  }
  .inputs{
    margin: auto;
    padding-right: 57px;
    padding-left: 0px;
  }
  .input-group{
    margin: auto;
  }
  .input-md{
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
  }
  .brandCheckBox{
    padding-top: 0px;
  }
  .input-custom-brand {
    width: 250px;
    -moz-box-shadow: inset 1px 1px 1px 0px #CCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px #CCC;
    box-shadow: inset 1px 1px 1px 0px #CCC;
    border-radius:2px;
    margin: auto;
  }
  .proceed-btn {
    padding-left: 0px;
  }
}
