@import "../../shared/scss/custom_themes/default/default";

.table > tbody > tr > td {
  vertical-align: middle;
  padding: 3px 8px;
}

a {
  color: #000;
}

hr {
  margin: 10px 0;
}

.table-border {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  min-height: 562px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  .table {
    margin-bottom: 0;
  }
}

.filter-text {
  margin-left: 5px;
}

.well.filter {
  position: relative;
  margin-top: 5px;
  padding: 10px;
  .form-group {
    margin-bottom: 3px;
  }
  .closeFilter {
    float: right;
    a {
      color: #555;
      cursor: default;
      &:hover {
        color: #aaa;
        text-decoration: none;
      }
    }
  }
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

select {
  display: inline-block;
  width: unset;
}

.status {
  text-transform: capitalize;
}

.caret {
  position: static;
}

.actions {
  position: relative;
  display: inline-block;
  ul.dropdown-menu {
    left: unset;
    right: 0;
    background-color: #f0f0f0;
    li {
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: #ff0565;
        color: $white;
      }
    }
  }
}
