<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item text-primary" aria-current="page">Profile</li>
  </ol>
</nav>

<div class="form-horizontal">

	<div class="form-group">
	  <label class="col-md-3 control-label" for="textinput">Email</label>
		<div class="col-md-9">
			<p class="form-control-static">{{ userData.email }}</p>
		</div>
	</div>

	<div class="form-group">
			<label class="col-md-3 control-label" for="textinput">Last Name</label>
			<div class="col-md-9">
				<p class="form-control-static">{{ userData.lastName }}</p>
			</div>
	</div>

	<div class="form-group">
			<label class="col-md-3 control-label" for="textinput">First Name</label>
			<div class="col-md-9">
				<p class="form-control-static">{{ userData.firstName }}</p>
			</div>
	</div>
  <div class="form-group">
			<label class="col-md-3 control-label" for="textinput">Date of Birth</label>
			<div class="col-md-9">
				<p class="form-control-static">{{ userData.birthdate }}</p>
			</div>
	</div>
	<div class="form-group">
			<label class="col-md-3 control-label" for="textinput">Mobile Number</label>
			<div class="col-md-9">
				<p class="form-control-static">{{ userData.mobileNumber }}</p>
			</div>
	</div>
	<div class="form-group">
			<label class="col-md-3 control-label" for="textinput">Gender</label>
			<div class="col-md-9">
				<p class="form-control-static">{{ userData.gender == 'M' ? 'Male': 'Female'}}</p>
			</div>
	</div>
	<div class="form-group">
	  <label class="col-md-3 control-label"></label>
	  <div class="col-md-9">
	    <button name="update-btn" type="button" class="btn btn-primary" (click)="onUpdateClick()">Update Profile</button>
      <button name="update-btn" type="button" class="btn btn-primary" routerLink="/user/passwordReset" >Change Password</button>
    </div>
	</div>
</div>
