@import "../../shared/scss/custom_themes/default/default";

a {
  color: #000;
}

hr {
  margin: 10px 0;
}

.filter-text {
  margin-left: 5px;
}

.breadcrumb-item {
  text-transform: capitalize;
}

.well.filter {
  position: relative;
  margin-top: 5px;
  padding: 10px;
  .form-group {
    margin-bottom: 3px;
    .date-input {
      min-width: 160px;
    }
  }
  .closeFilter {
    float: right;
    a {
      color: #555;
      cursor: default;
      &:hover {
        color: #aaa;
        text-decoration: none;
      }
    }
  }
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.table-border {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  min-height: 562px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  .table {
    margin-bottom: 0;
  }
  .table > tbody > tr > td {
    vertical-align: middle;
    padding: 3px 8px;
  }
  .partner-name {
    cursor: pointer;
    &:hover span {
      text-decoration: underline;
    }
  }
  .partner-name-group {
    cursor: pointer;
    &:hover span {
      text-decoration: underline;
    }
    text-align: center;
  }
  .category-name {
    cursor: pointer;
    &:hover span {
      text-decoration: none;
    }
  }
  .line-through {
    text-decoration: line-through;
    font-size: 95%;
  }
}

.caret {
  position: static;
}

.actions {
  position: relative;
  display: inline-block;
  ul.dropdown-menu {
    width: 200px;
    left: unset;
    right: 0;
    background-color: #f0f0f0;
    li {
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: #ff0565;
        color: $white;
      }
    }
  }
}
.store-names {
  font-size: 10px;
}
.priority {
  position: relative;
  display: inline-block;
  select.dropdown-menu {
    width: 50px;
    left: unset;
    right: 0;
    background-color: #f0f0f0;
    overflow-y: scroll;
  }
}

.numDisplay {
  font-weight: bold;
}

.logo-thumb {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.logo-thumb2 {
  height: 40px;
  width: 40px;
  // display: inline-block;
  border-radius: 5px;
  border: 1px solid #cccccc;
  display: block;
  margin-left: auto;
  margin-right: auto
}
