<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <p><img class="img-responsive img-icon" src="assets/OMG.png"></p>
        <p>©2019 oh my genie! ©2019 oh my grocery!</p>
        <p class="social">
          <a href="https://www.facebook.com/ohmygenieph/">
            <img class="img-icon" src="assets/fb.png">
          </a>
          <img class="img-icon" src="assets/ig.png">
        </p>
      </div>
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm"><hr></div>
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h5 routerLink="/contact">Contact Us</h5>
        <p><a routerLink="/contact">Chat</a></p>
        <p><a href="mailto:customersupport@ohmygrocery.com">Email</a></p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h5>Help & Support</h5>
        <p><a routerLink="/faq">FAQ</a></p>
        <p><a routerLink="/suggest">Suggest a Product</a></p>
        <p><a routerLink="/privacy">Security & Privacy Policy</a></p>
        <p><a routerLink="/terms">Terms & Use</a></p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h5>About Us</h5>
        <p><a routerLink="/vision">The Vision</a></p>
        <p><a routerLink="/team">The Team</a></p>
        <p><a routerLink="/careers">Careers</a></p>
      </div>
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm"><hr></div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <h5>Get it really soon on</h5>
        <p><img class="app-badge" src="assets/app-badge-temp.png"></p>
          <!-- <li><a href="https://play.google.com/store?hl=en"><img class="play-store" src="../assets/google-play-badge.png" /></a></li> -->
      </div>
    </div>
  </div>
</footer>
