<div class="bg">
  <div class="row container">
    <div id="content" class="col-sm-12">
      <div class="col-md-5 col-centered">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h3>OMG! Dashboard - Reset Password</h3>
            <div *ngIf="token && !isValid; else elseBlock">
              <br><br>
              <p class="text-primary">The link has already expired. Please request another one.</p>
              <br><br>
            </div>
            <ng-template #elseBlock>
              <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" #formReset="ngForm">
              <fieldset class="input-container">
                <div class="input-item">
                  <input type="password" class="user-input-email user-input" name="" placeholder="Enter New Password" formControlName="password" autocomplete="off">
                  <div *ngIf="resetForm.get('password').errors && resetForm.get('password').touched">
                    <span class="error-icon text-danger">!</span>
                    <p class="error-message text-danger">{{resetForm.get('password').errors.msg || 'Password must be at least 6 characters'}}</p>
                  </div>
                </div>
                <div class="input-item">
                  <input type="password" class="user-input-password user-input" name="password" placeholder="Verify New Password" formControlName="verify"
                    autocomplete="off">
                  <div *ngIf="(resetForm.get('verify').errors || resetForm.hasError('mismatchedPasswords')) && resetForm.get('verify').touched">
                    <span class="error-icon text-danger">!</span>
                    <p class="error-message text-danger">{{'Password must match'}}</p>
                  </div>
                </div>
              </fieldset>
              <fieldset class="reset-button-container">
                <button type="submit" class="btn btn-danger reset-button">Confirm</button>
                <button type="button" class="btn btn-default reset-button" (click)="formReset.resetForm({})">Clear</button>
              </fieldset>
            </form>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
